<div class="row">
  <div class="col-md-12">
    <%#= render partial: "categories/category", collection: @post.categories %>
    <div class="row">
    <div class="col-md-8">
    <h1><%= @article.title %></h1>
    </div>
    <%  if(current_user_grade?) %>
    <div class="col-md-4">
    <%= link_to '編輯文章', edit_article_path(@article) , class: 'btn btn-primary pull-left ' %>
    <%= link_to '刪除文章', article_path(@article), method: :delete,data: {confirm: 'Are you sure? '} , class: 'btn btn-primary pull-right ' %>
    </div>
    <% end %>
    </div>
    <div class="col-md-12 well">
    <p><%= @article.content %></p>
    </div>
    <div class="col-md-1">
        <%= form_for [@article, @like] do |f| %>
        <%= f.hidden_field :like_notlike ,value: true , class: 'col-md-4' %>
        <%= f.submit  ""  , class: ' img_submit ' %>
         <% end %>
    </div>
    <div class="col-md-11">
        <%  @likes.each do |t|%>
         <%=   t.user.name %> ,
         <%  end %>
    </div>
    <br>
    <small class="pull-right">posted by <%= " #{@article.user.name}" %></small>
  </div>
</div>