<div class="row">
  <div class="all_article">
  <div class="container-full">
<%= render 'shared/article_index'  %>
    <div class="col-md-8">
    <div class="container-full">
      <div class="content_all_article">
        <%= render 'shared/title', title:  '文章總覽'   ,style: "text-align:center;" %>
       <% @articles.each do |article| %>
        <div class="row">
          <div class="container">
          <div class="col-md-1"></div>
          <div class="well col-md-8">
            <h2><%= article.title %></h2>
            <br>
            <span>
              <%= link_to "show this post", article_path(article) %>
            </span>
            <p class="pull-right"><%= article.user.name %></p>
          </div>
          <div class="col-md-2"></div>
          </div>
        </div>
      <% end %>
      </div>      
    </div>
    </div>
    </div>
  </div>
</div>