<div class="row">
  <div class="all_article">
  <div class="container-full">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <div id="sidebar">
      <ul class ="blog_about">
        <li class="category"></li>
        <li>關於我</li>
      </ul>
      <ul class ="blog_category">
        <li class="category">分類</li>
        <li><a href="#">Github</a></li>
        <% @categories.each do |category| %>
        <li><a href="#"><%= category.tile %>(<%= category.article.count %>)</a></li>
        <% end %>
      </ul>
    </div>
    </div>
    <div class="col-md-8">
    <div class="container-full">
      <div class="content_all_article">
        <%= render 'shared/title', title: '文章總覽'  ,style: "text-align:center;" %>
       <% @articles.each do |article| %>
        <div class="row">
          <div class="well col-md-6">
            <p>
              <%= article.title %>
            </p>
            <br>
            <span>
              <%= link_to "show this post", article_path(post) %>
            </span>
            <p class="pull-right"><%= article.user.name %></p>
          </div>
        </div>
      <% end %>
      </div>      
    </div>
    </div>
  </div>
  </div>
</div>
<div class="fixed">
  <a href="#blog_top">
    <span class ="glyphicon glyphicon-triangle-top"></span>
    <p>TOP</p>
  </a>
</div>