<div class="row">
  <div class="all_article">
  <div class="container-full">
  <%= render 'shared/article_index'  %>
    <div class="col-md-8">
    <div class="container-full">
      <div class="content_all_article">
      <%= render 'shared/title', title: '搜尋文章' ,style: "text-align:left;" %>
       <% @article_search.each do |article| %>
            <h2><%= article.title %></h2>
            <br>
            <span>
              <%= link_to "show this post111", article_path(article) %>
            </span>
            <p class="pull-right"><%= article.user.updated_at %> , <%= article.user.name %></p>
            <hr>
            <% end %>
      </div>      
    </div>
    </div>
    </div>
  </div>
</div>