    <div class="col-md-3">
      <div id="sidebar">
      <div class="container">
      <ul class ="blog_about">
        <li class="category"></li>
        <% if !logged_in? %>
        <li>Hello Blog !!! </li>
        <li><%= link_to '關於我', profile_path(find_admin) %></li>
        <li><%= link_to "文章總覽 " , root_path %></li>
        <li><a  target=_blank href="https://github.com/a9421015642">Github</a></li>
        <% else %>
        <li><%= link_to '關於我', profile_path(current_user) %></li>
        <%  if(current_user_grade?) %>
        <li><%= link_to '新增文章', new_article_path %></li>
         <li><%= link_to "新的留言  (#{find_comments_ten_count}) ", article_comments_articles_path %></li>
        <% end %>
        <li><a  target=_blank href="https://github.com/a9421015642">Github</a></li>
        <% end %>
      </ul>
      <ul class ="blog_category">
      <%  if(current_user_grade?) %>
        <li class="category"><%= link_to '分類 + ', categories_path %></li>
        <% else %>
        <li class="category">分類 + </li>
         <% end %>
        <% @categories.each do |category| %>
        <li><%= link_to  "#{category.title}  (#{find_article_category_count(category)})" , category_path(category) %></li>
        <% end %>
      </ul>
      </div>
    </div>
    </div>
<div class="fixed">
  <a href="#blog_top">
    <span class ="glyphicon glyphicon-triangle-top"></span>
    <p>TOP</p>
  </a>
</div>
