    <div class="col-md-3">
      <div id="sidebar">
      <div class="container">
      <ul class ="blog_about">
        <li class="category"></li>
        <% if !logged_in? %>
        <li>Hello Blog !!! </li>
        <% else %>
        <li><%= link_to '關於我', user_path(current_user) %></li>
        <li><%= link_to '新增文章', new_article_path %></li>
        <li><a  target=_blank href="https://github.com/a9421015642">Github</a></li>
        <% end %>
      </ul>
      <ul class ="blog_category">
        <li class="category">
        <%= link_to '分類 + ', categories_path %>
        </li>
        <% @categories.each do |category| %>
        <li><a href="#"><%= category.title %>(<%= find_article_category_count(category.id) %>)</a></li>
        <% end %>
      </ul>
      </div>
    </div>
    </div>
<div class="fixed">
  <a href="#blog_top">
    <span class ="glyphicon glyphicon-triangle-top"></span>
    <p>TOP</p>
  </a>
</div>
