<div class="row">
  <div class="all_article">
  <div class="container-full">
<%= render 'shared/article_index'  %>
    <div class="col-md-8">
    <div class="container-full">
      <div class="content_all_article">
        <%= render 'shared/title', title:  '分類總覽'   ,style: "text-align:center;" %>
        <div class="row">
        <div class="new_category">
          <%= link_to '新增文章分類', new_category_path , class: 'btn btn-primary pull-left ' %>
        </div>         
        </div>
        <br>
       <% @categories.each do |category| %>
        <div class="row">
          <div class="well col-md-12">
            <h2>
              <%= category.title %>
            </h2>
            <div class="row">
              <div class="col-md-10"></div>
              <div class="col-md-2">
                <%= link_to '編輯文章', edit_category_path(category) , class: 'btn btn-primary pull-left ' %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>      
    </div>
    </div>
    </div>
  </div>
</div>